@model Calculator.Models.AdditionViewModel
@using (Html.BeginForm())
{
    <fieldset>
        <legend style="color:blue"> Operation Of Two Numbers </legend>
        <p>Enter first number</p>
        @Html.EditorFor(x => x.A) <br /><br />
        <p>Enter Second number</p>
        @Html.EditorFor(x => x.B) <br /> <br />
        <p>Enter Name</p>
        @Html.TextBoxFor(x => x.Name) <br /> <br />
        <input type="submit" value="add" name="command" />
        <input type="submit" value="sub" name="command" />
        <input type="submit" value="mul" name="command" />
        <input type="submit" value="div" name="command" />
        <br />
        <br />
        <h2 style="color:red">
            @Html.Label("Result is :")
            @Html.DisplayFor(x => x.Result)
            <br />
            @Html.Label("Name is :")
            @Html.DisplayFor(x => x.Name)
        </h2>
    </fieldset>
}